<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631871991918-lu89b5jrc8v9voe9tj156he42u3m4i7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631871991918-lu89b5jrc8v9voe9tj156he42u3m4i7v</string>
	<key>API_KEY</key>
	<string>AIzaSyBjsKvdouxq71z_wHhkSmzyNhL34DTpvWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>631871991918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.pdp.herewego</string>
	<key>PROJECT_ID</key>
	<string>herewego-c378d</string>
	<key>STORAGE_BUCKET</key>
	<string>herewego-c378d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631871991918:ios:f04f008eb76dc64fa9f67f</string>
</dict>
</plist>